$fontcolor: rgb(20, 20, 20);
$backgroundcolor: rgb(235, 235, 235);
$itembackgroundcolor: rgb(255, 255, 255);

.cartlist {
    flex: 10;
    min-height: 60rem;
    margin-top: 7rem;
    color: $fontcolor;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    background-color: $backgroundcolor;
}

.cartproducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.emptycart {
    min-height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 2rem;
        padding: 2rem;
        color: gray;
    }
}

.cartitem:hover {
    box-shadow: 2px 2px 2px 2px #91919146;
}
.cartitem {
    width: 90rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.2rem;
    background-color: $itembackgroundcolor;
    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            max-width:30%;
            border-radius: 0.2rem;
        }
    }
}

.itemname {
    width: 20rem;
    color: $fontcolor;
    font-size: 1.2rem;
    font-weight: 800;
}
.quantity {
    width: 10rem;
    font-weight: 800;
}
.buttonset {
    width: 10rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    button {
        margin: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.checkout {
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .values {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        font-weight: 800;
        margin-left: 2rem;
        div {
            margin: 1rem;
        }
    }
    button:focus {
        outline:none;
    }
    button:hover {
        border: solid;
        border-width: 0.1rem;
        border-color: #f55525;
        background-color: white;
        color: #f55525;
    }
    button {
        cursor: pointer;
        transition: all 0.3s;
        margin: 1rem;
        width: 10rem;
        height: 4rem;
        border: none;
        border-radius: 4px;
        background-color: #f55525;
        color: white;
        font-weight: bold;
    }
}