$fontcolor: rgb(226, 226, 226);
$selectioncolor: rgb(180, 180, 180);
$backgroundcolor: rgb(9, 46, 48);

.header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $backgroundcolor;
    div {
        padding: 2rem;
        font-size: 3rem;
        font-family: Tahoma, sans-serif;
        a:hover {
            color: $selectioncolor;
        }
        a {
            color: $fontcolor;
            text-decoration: none;
        }
    }
}

