html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: Arial, Helvetica, sans-serif;
}

body, #root {
  margin: 0;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
